Repository aeslaughter/moose, changes with the owners that CODEOWNERS names for each.
All owners: @fdkong, @lindsayad, @loganharbour, @aeslaughter, @zachmprince

CODEOWNERS:

/modules/external_petsc_solver @fdkong
/modules/navier_stokes @lindsayad
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince

Add script for just creating sides that I can't get to work
  test/tests/meshgenerators/elevation/mesh_elevations.py
  test/tests/meshgenerators/elevation/rectangle.py
Owners: none

WIP
  test/tests/meshgenerators/elevation/rectangle.py
Owners: none

WIP: edge conform
  test/tests/meshgenerators/elevation/mesh_elevations.py
  test/tests/meshgenerators/elevation/rectangle.py
Owners: none

BSpline method working for surfaces
  test/tests/meshgenerators/elevation/mesh_elevations.py
  test/tests/meshgenerators/elevation/mesh_terrain.py
  test/tests/meshgenerators/elevation/rectangle.py
Owners: none

added a bit of doco to Bspline mesh method
  test/tests/meshgenerators/elevation/mesh_terrain.py
Owners: none

Show page text when autolink fails to find page
  python/MooseDocs/extensions/autolink.py
Owners: none

Indicate that requirements do not exist for categories
  python/MooseDocs/extensions/sqa.py
Owners: none

Fixing a couple bugs in reporter output #17391
  framework/src/outputs/JSONOutput.C
  modules/stochastic_tools/include/reporters/StochasticReporter.h
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_batch_out.json
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_out.json
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_parallel.json
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_parallel.json.1
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_parallel.json.2
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_parallel.json.3
  modules/stochastic_tools/test/tests/transfers/sampler_reporter/gold/main_small_out.json
Owners: @aeslaughter, @zachmprince

Testing ReporterReader #17391
  python/mooseutils/tests/test_ReporterReader.py
  python/mooseutils/tests/tests
Owners: none

Creating ReporterReader #17391
  python/mooseutils/ReporterReader.py
  python/mooseutils/__init__.py
Owners: none

Documenting ReporterReader #17391
  modules/doc/content/python/index.md
  modules/doc/content/python/mooseutils/ReporterReader.md
Owners: none

Testing histogram/statistics/sobob visualization utilities #17391
  modules/stochastic_tools/python/tests/test_make_histogram.py
  modules/stochastic_tools/python/tests/test_visualize_sobol.py
  modules/stochastic_tools/python/tests/test_visualize_statistics.py
  modules/stochastic_tools/python/tests/tests
Owners: @aeslaughter, @zachmprince

Creating histogram/statistics/sobob visualization utilities #17391
  modules/stochastic_tools/python/make_histogram.py
  modules/stochastic_tools/python/visualize_sobol.py
  modules/stochastic_tools/python/visualize_statistics.py
Owners: @aeslaughter, @zachmprince

Re-doing parameter_study and sobol examples with new objects and utilities #17391
  modules/stochastic_tools/doc/content/modules/stochastic_tools/examples/parameter_study.md
  modules/stochastic_tools/doc/content/modules/stochastic_tools/examples/sobol.md
  modules/stochastic_tools/doc/content/syntax/StochasticTools/index.md
  modules/stochastic_tools/examples/parameter_study/diffusion_time.i
  modules/stochastic_tools/examples/parameter_study/diffusion_vector.i
  modules/stochastic_tools/examples/parameter_study/gold/main_out.json
  modules/stochastic_tools/examples/parameter_study/gold/main_time_out.json
  modules/stochastic_tools/examples/parameter_study/gold/main_vector_out.json
  modules/stochastic_tools/examples/parameter_study/gold/master_out_results_0002.csv
  modules/stochastic_tools/examples/parameter_study/gold/master_out_samples_0002.csv
  modules/stochastic_tools/examples/parameter_study/gold/master_out_stats_0002.csv
  modules/stochastic_tools/examples/parameter_study/main.i
  modules/stochastic_tools/examples/parameter_study/main_time.i
  modules/stochastic_tools/examples/parameter_study/main_vector.i
  modules/stochastic_tools/examples/parameter_study/tests
  modules/stochastic_tools/examples/sobol/diffusion.i
  modules/stochastic_tools/examples/sobol/gold/main_out.json
  modules/stochastic_tools/examples/sobol/main.i
  modules/stochastic_tools/examples/sobol/tests
Owners: @aeslaughter, @zachmprince

Adding abs_zero to JSONDiff #17391
  modules/stochastic_tools/examples/parameter_study/tests
  python/TestHarness/testers/JSONDiff.py
  python/mooseutils/jsondiff.py
  python/mooseutils/tests/test_jsondiff.py
Owners: @aeslaughter, @zachmprince

Changing argument destinations and using main() function in statistics visualization, found a few bugs along the way #17391
  modules/stochastic_tools/python/visualize_sobol.py
  modules/stochastic_tools/python/visualize_statistics.py
Owners: @aeslaughter, @zachmprince

WIP: Add thread pool executioner
  python/MooseDocs/base/__init__.py
  python/MooseDocs/base/executioners.py
  python/MooseDocs/test/tree/test_page.py
Owners: none

WIP: translator pickle
  python/MooseDocs/base/__init__.py
  python/MooseDocs/base/executioners.py
  python/MooseDocs/test/base/test_translator.py
Owners: none

Done
  python/MooseDocs/base/Translator.py
  python/MooseDocs/base/readers.py
  python/MooseDocs/test/base/test_readers.py
  python/MooseDocs/test/base/test_translator.py
Owners: none

WIP: Need to clean up style, add ..., and figure out dual text under some items
  framework/doc/content/contrib/accordion/accordion.css
  framework/doc/content/contrib/accordion/accordion.js
  python/MooseDocs/extensions/accordion.py
Owners: none

Miscellaneous fixes on VPP docs Refs #18333
  framework/doc/content/source/vectorpostprocessors/CSVReader.md
  framework/doc/content/source/vectorpostprocessors/CylindricalAverage.md
  framework/doc/content/source/vectorpostprocessors/ElementValueSampler.md
  framework/doc/content/source/vectorpostprocessors/ElementVariablesDifferenceMax.md
  framework/doc/content/source/vectorpostprocessors/ElementsAlongLine.md
  framework/doc/content/source/vectorpostprocessors/ElementsAlongPlane.md
  framework/doc/content/source/vectorpostprocessors/HistogramVectorPostprocessor.md
  framework/doc/content/source/vectorpostprocessors/LeastSquaresFit.md
  framework/doc/content/source/vectorpostprocessors/LeastSquaresFitHistory.md
  framework/doc/content/source/vectorpostprocessors/LineMaterialRealSampler.md
  framework/doc/content/source/vectorpostprocessors/LineValueSampler.md
  framework/doc/content/source/vectorpostprocessors/MaterialVectorPostprocessor.md
  framework/doc/content/source/vectorpostprocessors/NodalValueSampler.md
  framework/doc/content/source/vectorpostprocessors/PiecewiseFunctionTabulate.md
  framework/doc/content/source/vectorpostprocessors/SidesetInfoVectorPostprocessor.md
  framework/doc/content/source/vectorpostprocessors/VectorMemoryUsage.md
  framework/doc/content/source/vectorpostprocessors/WorkBalance.md
Owners: none

Fix documentation for two postprocessors Refs #18333
  framework/doc/content/source/postprocessors/ElementExtremeMaterialProperty.md
  framework/doc/content/source/postprocessors/Receiver.md
Owners: none

Add a check reset_ parameters for MultiApps Closes #20540
  framework/doc/content/source/kernels/ADMaterial.md
  framework/src/multiapps/MultiApp.C
Owners: none

Remove empty source files, which are only used to force compiling of headers
  framework/src/auxkernels/MaterialAuxBase.C
  framework/src/auxkernels/MaterialStdVectorAuxBase.C
  framework/src/loops/ThreadedNodeLoop.C
  framework/src/utils/PerfGuard.C
  framework/src/vectorpostprocessors/LineMaterialSamplerBase.C
Owners: none

Fixup moosedocs for numerous classes. Typo fixes. Move ParisLaw doc to right module
  framework/doc/content/source/auxkernels/ScalarTagMatrixAux.md
  framework/doc/content/source/auxkernels/ScalarTagVectorAux.md
  framework/doc/content/source/base/MooseException.md
  framework/doc/content/source/interfaces/BlockRestrictable.md
  framework/doc/content/source/interfaces/BoundaryRestrictable.md
  framework/doc/content/source/interfaces/MeshMetaDataInterface.md
  framework/doc/content/source/interfaces/RandomInterface.md
  framework/doc/content/source/meshgenerators/BreakMeshByBlockGenerator.md
  framework/doc/content/source/outputs/FileOutput.md
  framework/doc/content/source/outputs/OutputWarehouse.md
  framework/doc/content/source/partitioner/PetscExternalPartitioner.md
  framework/doc/content/source/postprocessors/DifferencePostprocessor.md
  framework/doc/content/source/postprocessors/MaxVarNDofsPerElem.md
  framework/doc/content/source/postprocessors/PointValue.md
  framework/doc/content/source/postprocessors/Receiver.md
  framework/doc/content/source/postprocessors/SideIntegralVariablePostprocessor.md
  framework/doc/content/source/relationshipmanagers/RelationshipManager.md
  framework/doc/content/source/restart/DataIO.md
  framework/doc/content/source/userobject/CoupledVarThresholdElementSubdomainModifier.md
  framework/doc/content/source/utils/BilinearInterpolation.md
  framework/doc/content/source/utils/DualReal.md
  framework/doc/content/source/variables/MooseVariableFE.md
  modules/xfem/doc/content/source/postprocessors/ParisLaw.md
  modules/xfem/include/postprocessors/ParisLaw.h
  modules/xfem/src/postprocessors/ParisLaw.C
  test/tests/materials/ad_material/tests
Owners: none

Remove unused parameter from MOOSE example 1, refs #20510
  examples/ex01_inputfile/ex01.i
Owners: none

Misc comment fixes in code Remove unused variable in TableOutput
  framework/src/interfaces/OutputInterface.C
  framework/src/outputs/TableOutput.C
Owners: none

More snippet fixes for pinsfv doc Refs #16756
  modules/navier_stokes/doc/content/modules/navier_stokes/pinsfv.md
Owners: @lindsayad

Fix parameter description in FileOutput Fix typo in GapConductanceConstraint refs #18333
  framework/src/outputs/FileOutput.C
  modules/heat_conduction/doc/content/source/constraints/GapConductanceConstraint.md
Owners: none

More docs for ElementExtremeMatprop, add docs for OutputInterface refs #18333 #17566 #16248 #15968
  framework/doc/content/source/interfaces/OutputInterface.md
  framework/doc/content/source/postprocessors/ElementExtremeMaterialProperty.md
Owners: none

Fix doc files which refer to wrong source file for their parameters refs #18333
  framework/doc/content/source/bcs/ArrayHFEMDirichletBC.md
  framework/doc/content/source/bcs/ArrayNeumannBC.md
  framework/doc/content/source/bcs/EigenArrayDirichletBC.md
Owners: none

Add documentation to Table Output refs #18333 #17566 #16248 #15968
  framework/doc/content/source/outputs/TableOutput.md
Owners: none

Add more instructions to INL HPC install, refs #20071
  modules/doc/content/getting_started/installation/inl_hpc_install_moose.md
Owners: none

Fix some deprecated parameters in porous flow tests, refs #0
  modules/porous_flow/examples/tutorial/11_2D.i
  modules/porous_flow/test/tests/thm_rehbinder/fixed_outer.i
  modules/porous_flow/test/tests/thm_rehbinder/fixed_outer_rz.i
  modules/porous_flow/test/tests/thm_rehbinder/free_outer.i
Owners: none

Fix some deprecated parameters in ray tracing fv tests, refs #0
  modules/ray_tracing/test/tests/raykernels/line_source_ray_kernel/fv_simple_diffusion_line_source.i
  modules/ray_tracing/test/tests/raykernels/variable_integral_ray_kernel/fv_simple_diffusion_line_integral.i
Owners: @loganharbour

Fix some deprecated parameters in tensor mechanics module Waiting for guidance on others, see #20522
  modules/tensor_mechanics/test/tests/gravity/block-gravity-kinetic-energy.i
  modules/tensor_mechanics/test/tests/ics/volume_weighted_weibull/volume_weighted_weibull.i
  modules/tensor_mechanics/test/tests/lagrangian/total/special/rotate.i
  modules/tensor_mechanics/test/tests/lagrangian/updated/special/rotate.i
Owners: none

Fix some deprecated parameters in a phase field example, refs #0
  modules/phase_field/examples/ebsd_reconstruction/IN100-111grn.i
Owners: none

Fix some deprecated parameters in a reactor module test, refs #0
  modules/reactor/test/tests/meshgenerators/reporting_id/cartesian_id/core_zigzag_reporting_id.i
Owners: none

Fix some deprecated parameters in heat conduction tests, refs #0
  modules/heat_conduction/test/tests/fvbcs/fv_thermal_resistance/test_functor.i
  modules/heat_conduction/test/tests/gap_heat_transfer_htonly/gap_heat_transfer_htonly_syntax.i
Owners: none

Invert loops in UserObjectTransfer. All existing tests pass refs #19056
  framework/include/multiapps/MultiApp.h
  framework/include/transfers/MultiAppUserObjectTransfer.h
  framework/src/transfers/MultiAppUserObjectTransfer.C
Owners: none
