Repository aeslaughter/moose, changes with the owners that CODEOWNERS names for each.
All owners: @fdkong, @lindsayad, @loganharbour, @aeslaughter, @zachmprince

Fix uninitialized value
  framework/src/actions/ActionWarehouse.C
Owners: none

Correct UserObjectInterface::hasUserObject<T> and add tests
  framework/include/userobject/UserObjectInterface.h
  test/include/userobjects/UserObjectInterfaceTest.h
  test/src/userobjects/UserObjectInterfaceTest.C
  test/tests/interfaces/userobjectinterface/tests
  test/tests/interfaces/userobjectinterface/uoi.i
Owners: none

Add non-const getter to TraceRay and make neighbor methods public
  modules/ray_tracing/include/base/RayTracingObject.h
  modules/ray_tracing/include/raytracing/TraceRay.h
  modules/ray_tracing/include/userobjects/RayTracingStudy.h
  modules/ray_tracing/src/base/RayTracingObject.C
  modules/ray_tracing/src/raybcs/RayBoundaryConditionBase.C
  modules/ray_tracing/src/raykernels/RayKernelBase.C
  modules/ray_tracing/src/raytracing/TraceRay.C
  modules/ray_tracing/test/src/userobjects/BackfaceCullingStudyTest.C
Owners: @loganharbour

use a separate control parameter to print out action dependencies #17929
  framework/include/actions/ActionWarehouse.h
  framework/src/actions/ActionWarehouse.C
  framework/src/actions/SetupDebugAction.C
  test/tests/actions/debug_block/debug_print_actions_test.i
Owners: none

Fixed scripts/update_and_rebuild_petsc_alt.sh
  scripts/update_and_rebuild_petsc_alt.sh
Owners: none

Address Alex's comments II
  modules/contact/src/constraints/ComputeFrictionalForceLMMechanicalContact.C
  modules/contact/test/tests/bouncing-block-contact_pdass/try_gitterle.normal.i
Owners: none

Add cylinder and bouncing block frictional tests.
  modules/contact/test/tests/pdass_problems/cylinder.e
  modules/contact/test/tests/pdass_problems/cylinder_friction.i
  modules/contact/test/tests/pdass_problems/frictional_bouncing_block.i
  modules/contact/test/tests/pdass_problems/gold/cylinder_friction_chkfile_cont_press_0003.csv
  modules/contact/test/tests/pdass_problems/gold/cylinder_friction_chkfile_friction_0003.csv
  modules/contact/test/tests/pdass_problems/gold/cylinder_friction_chkfile_x_disp_0003.csv
  modules/contact/test/tests/pdass_problems/gold/cylinder_friction_chkfile_y_disp_0003.csv
  modules/contact/test/tests/pdass_problems/gold/frictional_bouncing_block_checkfile_cont_press_0029.csv
  modules/contact/test/tests/pdass_problems/gold/frictional_bouncing_block_checkfile_friction_0029.csv
  modules/contact/test/tests/pdass_problems/hertz_27.jou
  modules/contact/test/tests/pdass_problems/long-bottom-block-1elem-blocks.e
  modules/contact/test/tests/pdass_problems/tests
Owners: none

fix issues with block_restricted BreakMeshByBlockGenerator ref #17749
  framework/doc/content/source/meshgenerators/BreakMeshByBlockGenerator.md
  framework/include/meshgenerators/BreakMeshByBlockGenerator.h
  framework/src/meshgenerators/BreakMeshByBlockGenerator.C
  modules/combined/test/tests/break_mesh_interface_contact/break_mesh_interface_contact.i
  modules/combined/test/tests/break_mesh_interface_contact/gold/break_mesh_interface_contact_out.e
  modules/combined/test/tests/break_mesh_interface_contact/tests
  modules/contact/src/dampers/ContactSlipDamper.C
  test/tests/meshgenerators/break_mesh_by_block_generator/break_mesh_block_restricted_2d.i
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_restricted_no_transition_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_restricted_no_transition_split_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/break_mesh_block_restricted_2d_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/tests
Owners: none

Add frictional ironing problem.
  modules/contact/doc/content/source/constraints/ComputeFrictionalForceLMMechanicalContact.md
  modules/contact/test/tests/pdass_problems/cylinder.e
  modules/contact/test/tests/pdass_problems/gold/ironing_chkfile_cont_press_0009.csv
  modules/contact/test/tests/pdass_problems/gold/ironing_chkfile_friction_0009.csv
  modules/contact/test/tests/pdass_problems/iron.e
  modules/contact/test/tests/pdass_problems/ironing.i
  modules/contact/test/tests/pdass_problems/ironing_mesh.jou
  modules/contact/test/tests/pdass_problems/tests
Owners: none

clang-format update
  modules/xfem/src/base/XFEM.C
Owners: none

Add mortar friction documentation
  modules/contact/doc/content/bib/contact.bib
  modules/contact/doc/content/source/constraints/ComputeFrictionalForceLMMechanicalContact.md
Owners: none

Make TraceRay public in RayTracingStudy
  modules/ray_tracing/include/userobjects/RayTracingStudy.h
Owners: @loganharbour

Plots for paper using moosebuild
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv
  modules/stochastic_tools/examples/paper/sub.i
Owners: @aeslaughter, @zachmprince

WIP: STM paper plots
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/full_solve.i
  modules/stochastic_tools/examples/paper/plot.py
  modules/stochastic_tools/examples/paper/sub.i
Owners: @aeslaughter, @zachmprince

Apply suggestions from code review
  framework/doc/content/source/postprocessors/ParsedPostprocessor.md
  modules/navier_stokes/src/fvkernels/PINSFVEnergyEffectiveDiffusion.C
Owners: @lindsayad

Test lower-d volumes when pts aren't supplied
  test/include/dgkernels/TestLowerDVolumes.h
  test/src/dgkernels/TestLowerDVolumes.C
  test/tests/kernels/hfem/3d-lower-d-volumes.i
  test/tests/kernels/hfem/gold/3d-lower-d-volumes_out.e
  test/tests/kernels/hfem/gold/lower-d-volumes_out.e
  test/tests/kernels/hfem/lower-d-volumes.i
  test/tests/kernels/hfem/tests
Owners: none

Correct computation of lower-d element volumes
  framework/include/base/Assembly.h
  framework/include/constraints/EqualValueConstraint.h
  framework/include/constraints/MortarConstraintBase.h
  framework/src/base/Assembly.C
  framework/src/constraints/EqualValueConstraint.C
  framework/src/constraints/MortarConstraintBase.C
Owners: none

Add automatic differentiation API for neighbor velocities
  framework/include/interfaces/NeighborCoupleable.h
  framework/src/interfaces/NeighborCoupleable.C
Owners: none

Use get_boundary_info() accessor, not raw member
  modules/xfem/src/base/XFEM.C
Owners: none

Fix retrieval of weighted gap from friction class
  modules/contact/include/constraints/ComputeFrictionalForceLMMechanicalContact.h
  modules/contact/src/constraints/ComputeFrictionalForceLMMechanicalContact.C
  modules/contact/src/constraints/ComputeWeightedGapLMMechanicalContact.C
Owners: none

Address Alex's comments on better hierarchy calling
  modules/contact/doc/content/source/constraints/ComputeFrictionalForceLMMechanicalContact.md
  modules/contact/include/constraints/ComputeFrictionalForceLMMechanicalContact.h
  modules/contact/src/constraints/ComputeFrictionalForceLMMechanicalContact.C
  modules/contact/src/constraints/ComputeWeightedGapLMMechanicalContact.C
  modules/contact/test/tests/pdass_problems/frictional_bouncing_block.i
  modules/contact/test/tests/pdass_problems/gold/frictional_bouncing_block_checkfile_cont_press_0029.csv
  modules/contact/test/tests/pdass_problems/gold/frictional_bouncing_block_checkfile_friction_0029.csv
  modules/contact/test/tests/pdass_problems/tests
Owners: none

add block_pairs option
  framework/doc/content/media/meshgenerators/3_blocks_example.png
  framework/doc/content/source/meshgenerators/BreakMeshByBlockGenerator.md
  framework/include/meshgenerators/BreakMeshByBlockGenerator.h
  framework/src/meshgenerators/BreakMeshByBlockGenerator.C
  modules/combined/test/tests/break_mesh_interface_contact/break_mesh_interface_contact.i
  test/tests/meshgenerators/break_mesh_by_block_generator/break_mesh_block_pairs_restricted.i
  test/tests/meshgenerators/break_mesh_by_block_generator/break_mesh_block_pairs_restricted_3blocks.i
  test/tests/meshgenerators/break_mesh_by_block_generator/break_mesh_block_restricted.i
  test/tests/meshgenerators/break_mesh_by_block_generator/break_mesh_block_restricted_2d.i
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_pairs_restricted_3blocks_one_new_node_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_pairs_restricted_3blocks_three_new_nodes_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_pairs_restricted_3blocks_two_new_nodes_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_restricted_no_transition_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/block_restricted_no_transition_split_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/break_mesh_block_pairs_restricted_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/break_mesh_block_pairs_restricted_two_sides_interfaces_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/gold/break_mesh_block_restricted_2d_in.e
  test/tests/meshgenerators/break_mesh_by_block_generator/tests
Owners: none

Fix element activation by path, refs #15795
  framework/src/userobject/ActivateElementsByPath.C
  modules/combined/test/tests/additive_manufacturing/check_element_addition_2D.i
  modules/combined/test/tests/additive_manufacturing/check_element_addition_by_variable.i
  modules/combined/test/tests/additive_manufacturing/check_initial_condition.i
  modules/combined/test/tests/additive_manufacturing/check_stateful_properties.i
  modules/combined/test/tests/additive_manufacturing/gold/check_element_addition_2D_out.e-s002
  modules/combined/test/tests/additive_manufacturing/tests
Owners: none

libMesh::UniquePtr -> std::unique_ptr
  modules/ray_tracing/include/userobjects/RayTracingStudy.h
  modules/xfem/src/userobjects/LevelSetCutUserObject.C
Owners: @loganharbour

Trying runs with larger problem
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-reset.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-restore.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_normal.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv.1
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv.1
  modules/stochastic_tools/examples/paper/sub.i
Owners: @aeslaughter, @zachmprince

Removing output
  modules/stochastic_tools/examples/paper/batch-reset.csv
  modules/stochastic_tools/examples/paper/batch-reset_storage_0000.csv
  modules/stochastic_tools/examples/paper/batch-reset_storage_0001.csv
  modules/stochastic_tools/examples/paper/batch-restore.csv
  modules/stochastic_tools/examples/paper/batch-restore_storage_0000.csv
  modules/stochastic_tools/examples/paper/batch-restore_storage_0001.csv
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/full_solve_out.csv
  modules/stochastic_tools/examples/paper/full_solve_out_storage_0000.csv
  modules/stochastic_tools/examples/paper/full_solve_out_storage_0001.csv
  modules/stochastic_tools/examples/paper/normal.csv
  modules/stochastic_tools/examples/paper/normal_storage_0000.csv
  modules/stochastic_tools/examples/paper/normal_storage_0001.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-reset.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-restore.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_normal.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv.2
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv.2
  modules/stochastic_tools/examples/paper/sub.i
Owners: @aeslaughter, @zachmprince

WIP: simplify runs
  modules/stochastic_tools/examples/paper/batch-reset.csv
  modules/stochastic_tools/examples/paper/batch-reset_storage_0000.csv
  modules/stochastic_tools/examples/paper/batch-reset_storage_0001.csv
  modules/stochastic_tools/examples/paper/batch-restore.csv
  modules/stochastic_tools/examples/paper/batch-restore_storage_0000.csv
  modules/stochastic_tools/examples/paper/batch-restore_storage_0001.csv
  modules/stochastic_tools/examples/paper/full_solve_out.csv
  modules/stochastic_tools/examples/paper/full_solve_out_storage_0000.csv
  modules/stochastic_tools/examples/paper/full_solve_out_storage_0001.csv
  modules/stochastic_tools/examples/paper/normal.csv
  modules/stochastic_tools/examples/paper/normal_storage_0000.csv
  modules/stochastic_tools/examples/paper/normal_storage_0001.csv
Owners: @aeslaughter, @zachmprince

WIP: simplify runs
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/plot.py
  modules/stochastic_tools/examples/paper/sub.i
Owners: @aeslaughter, @zachmprince

wip
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv.6
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv.6
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv.6
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv.6
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv.6
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv.6
Owners: @aeslaughter, @zachmprince

rev7
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/plot.py
Owners: @aeslaughter, @zachmprince

v7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-reset.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-restore.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_normal.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv.7
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv.7
Owners: @aeslaughter, @zachmprince

Final setup for paper
  modules/stochastic_tools/examples/paper/execute.py
Owners: @aeslaughter, @zachmprince

foo
  modules/stochastic_tools/examples/paper/plot.py
Owners: @aeslaughter, @zachmprince

final final
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_serial_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_strong_scale_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv
Owners: @aeslaughter, @zachmprince

Adding replictes
  modules/stochastic_tools/examples/paper/execute.py
  modules/stochastic_tools/examples/paper/full_solve.i
  modules/stochastic_tools/examples/paper/plot.py
Owners: @aeslaughter, @zachmprince

Add replicates
  modules/stochastic_tools/examples/paper/execute.py
Owners: @aeslaughter, @zachmprince

Add error bars
  modules/stochastic_tools/examples/paper/execute.py
Owners: @aeslaughter, @zachmprince

Wrap for command line use
  modules/stochastic_tools/examples/paper/.gitignore
  modules/stochastic_tools/examples/paper/execute.py
Owners: @aeslaughter, @zachmprince

Smaller results for testing
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv
Owners: @aeslaughter, @zachmprince

final final final final
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_memory_parallel_normal.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-reset.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_batch-restore.csv
  modules/stochastic_tools/examples/paper/results/full_solve_weak_scale_normal.csv
Owners: @aeslaughter, @zachmprince

CODEOWNERS:

/modules/external_petsc_solver @fdkong
/modules/navier_stokes @lindsayad
/modules/ray_tracing @loganharbour
/modules/stochastic_tools @aeslaughter @zachmprince
